version: 2.0.{build}

image: Visual Studio 2017

shallow_clone: true
clone_depth: 1

configuration:
  - Release-Far2
  - Release-Far3

platform:
  - Win32
  - x64

build:
  project: IntChecker2.sln
  verbosity: minimal

test: off

matrix:
  fast_finish: true

install:
  - SET PATH=%PATH%;C:\msys64\usr\bin
  - cd extra
  - m4 -P version.txt.m4 > version.txt
  - SET /p PVER=<version.txt
  - appveyor UpdateBuild -Version %PVER%.%APPVEYOR_BUILD_NUMBER%
  - DEL version.txt

after_build:
- cmd: >-
    cd %APPVEYOR_BUILD_FOLDER%

    xcopy bin\%configuration%-%platform%\* export\IntChecker2 /E /I /Y > nul

    xcopy source\Text\*.txt export\IntChecker2 /E /I /Y > nul

    IF "%configuration%" == "Release-Far3" xcopy extra\scripts\* export\IntChecker2\scripts /E /I /Y > nul

    IF "%platform%" == "Win32" (SET P_ARCH=x86) ELSE (SET P_ARCH=%platform%)

    7z a -r -sdel -bd -x!*.ipdb -x!*.iobj -- IntChecker2_%configuration:~-4%_%P_ARCH%_%PVER%.7z .\export\*

artifacts:
  - path: '*.7z'
    name: distr

deploy:
  - provider: GitHub
    tag: $(APPVEYOR_REPO_TAG_NAME)
    release: $(PVER)
    description: 'Stable Release'
    auth_token:
      secure: yydJ7NhXUmWzitSCv7CA8LvEW7/4KGABG11kPMhDmyGGyHAVQuOLTCOqxkI+vl1x
    artifact: distr
    draft: true
    prerelease: false
    on:
      APPVEYOR_REPO_TAG: true        # deploy on tag push only
  - provider: BinTray
    username: lazyhamster
    api_key:
      secure: zxzGL5vd4v2+QjlatWuQg3E7IPrt5a5sJ9bPIwfBonZ2bnShrU3wnjYuUhr19cvL
    subject: lazyhamster
    repo: FAR-Plugins
    package: IntChecker
    version: $(PVER)
    publish: true
    override: true
    explode: false
    on:
      branch: master
